<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>Advanced Database Systems</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body {
	font-family: 'Open Sans', sans-serif;
}
</style>
</head>
<body>
    <div class="container">
                <div class="row justify-content-center mt-2">
                    <h4 class=> Welcome Please Provide Connection Details</h4>
                </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-md-8">
                    <form id="connectDb">
                            <div class="form-group">
                              <label for="Hostname">Database Hostname</label>
                              <input type="text" class="form-control" id="hostname" aria-describedby="emailHelp" required placeholder="Enter Hostname">
                              <small id="emailHelp" class="form-text text-muted">Provide Connection Instance e.g. localhost</small>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" required aria-describedby="usernamehelp" placeholder="Enter Username">
                                <small id="usernamehelp" class="form-text text-muted">Provide username e.g. root</small>
                            </div>
                    
                            <div class="form-group">
                              <label for="Password">Password</label>
                              <input type="password" class="form-control" required id="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src={{ url_for('static', filename='main.js') }}></script>
</body>
</html>