<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>Advanced Database Systems</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<style>
    body {
	font-family: 'Open Sans', sans-serif;
}
.network {
        display:block;
        height:500px;
        border:solid;
        background-color:white;
    }
</style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
    <a class="navbar-brand" href="#">Advanced Database Systems</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Multiway Joins <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Create Aligned Relations</a>
        </li>
    </ul>
    </div>
</nav>
<div class="container">

<div class="row form-group">
    <div class="col-md-12">
    <label for="schemas">Following Databases are Available</label>
    </div>
    <div class="col-md-6">
    <select class="form-control" id="schemas">
        {% for database in databases %}
            <option name={{database}}>{{database}}</option>
        {% endfor %}
    </select>
     </div>
    <div class="col-md-3">
        <button class="btn btn-primary" id="schemaSelectBtn">Select</button>
    </div>
  </div>
 <div class="row">
    <div class="col-md-8">
    <div class="network">Network Graph</div>
    </div>
    <div class="col-md-4">
    <button class="btn btn-primary" onclick="createTree()">Join</button><br>
    <input type="checkbox" name="writetofile" id="writetofile" > Write To File <br>
    <input type="checkbox" name="printop" id="printop"> Print Output<br>
    </div>
 </div>

<div class="footer text-center fixed-bottom">
    <p>
        &copy; <a href="https://gitlab.com/umesh-timalsina/databaseproject" target="_blank">Umesh Timalsina, Sameerah Talafha</a>
    </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src={{ url_for('static', filename='main.js') }}></script>
</body>
</html>